.monthly-main {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monthly {
  background: linear-gradient(#381247c2, #470b0eb8);
  width: 60%;
  height: 100px;
}
.monthly ul {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  align-items: center;
}

.button-monthly {
  background: linear-gradient(#46096b, #6b0909);
  color: white;
}

.text {
  font-size: 1.7vw;
}

.more-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img2 {
  position: relative;
  bottom: 70px;
}

.box3rd {
  width: 500px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: aliceblue;
  position: relative;
  bottom: 350px;
}

.more-main {
  /* position: relative; */
  /* bottom: 54px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* toggle in label designing */
/* .toggle {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 35px;
  background-color: red;
  border-radius: 30px;
  border: 2px solid gray;
} */

/* After slide changes */
/* .toggle:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: gray;
  top: 1px; 
  left: 2px;
  transition: all 0.5s;
} */

/* Toggle text */
/* p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
} */

/* Checkbox checked effect */
/* .checkbox:checked + .toggle::after {
  left: 40px;
} */

/* Checkbox checked toggle label bg color */
/* .checkbox:checked + .toggle {
  background-color: green;
} */

/* Checkbox vanished */
/* .checkbox {
  display: none;
} */




/* /////// */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 4s;
  transition: 4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


